
<!doctype html>
<html lang="zh-cmn-Hans" translate="no">
    <head>
        <meta charset="UTF-8" />
        <title>闪店商家</title>
        <script>
            var httpDomain = {
                host:{"shop":"https:\/\/b.shandian.net\/shop\/","pos":"https:\/\/b.shandian.net\/pos\/","bc":"https:\/\/bc.ishandian.net\/api\/","wx":"https:\/\/wx.ishandian.net\/api\/"},
                cdn: 'https://cdn.ishandian.com.cn/web/shop/'
            }
        </script>
        <link href="https://cdn.ishandian.com.cn/web/shop/static/css/main.css?1540374365" rel="stylesheet">
        <script type=text/javascript src="https://cdn.ishandian.com.cn/web/shop/static/js/main_style2js.js?1540374365" ></script>
        <link rel="stylesheet" href="//cdn.ishandian.com.cn/web/lib/element-ui.2.4.5.css">
    </head>
    <body >
        <div id="app">
            <router-view></router-view>
        </div>
        <script src="//cdn.ishandian.com.cn/web/lib/vue.min.2.5.16.js"></script>
        <script src="//cdn.ishandian.com.cn/web/lib/polyfill.min.6.26.0.js"></script>
        <script src="//cdn.ishandian.com.cn/web/lib/vue-router.min.3.0.1.js"></script>
        <script src="//cdn.ishandian.com.cn/web/lib/vuex.min.3.0.1.js"></script>
        <script src="//cdn.ishandian.com.cn/web/lib/element-ui.2.4.5.js"></script>
        <script type="text/javascript" src="https://cdn.ishandian.com.cn/web/shop/static/js/manifest.js?1540374365"></script>
        <script type="text/javascript" src="https://cdn.ishandian.com.cn/web/shop/static/js/async/main.js?1540374365"></script>
    </body>

</html>
